.example-form {
  min-width: 150px;
  max-width: 600px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.create-product-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 100%;
  font-size: large;
}
