div {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 1.5rem;
  font-family: "Arial", sans-serif; /* İsteğe bağlı: Yazı tipini ayarlayın */
  font-weight: bold; /* İsteğe bağlı: Yazı kalınlığını ayarlayın */
}

span {
  color: rgb(63, 81, 181);
  text-shadow: 2px 2px 2px rgba(63, 81, 181, 0.6); /* İsteğe bağlı: Yazıya gölge ekleyin */
}
